@import "../../../styles/colors.scss";

.course {
  display: block;

  &__title {
    diplay: inline-block;
  }

  &__description {
    diplay: inline-block;
  }

  &__start-date {
    diplay: inline-block;
  }

  &__end-date {
    diplay: inline-block;
  }

  &__status {
    diplay: inline-block;
  }
}
