<div class="course-detail">
  <div *ngIf="!!id" class="course-detail__id">
    {{id}}
  </div>
  <div class="course-detail__details">
    <form-group>
      <form-input-text label="Title" [(value)]="course.title"></form-input-text>
      <form-input-textarea label="Description" [(value)]="course.description"></form-input-textarea>
      <form-input-date label="Creating date" [(value)]="course.creatingDate"></form-input-date>
      <form-input-number label="Duration" [(value)]="course.duration"
         [tip]="course.duration|duration">
      </form-input-number>
      <form-input-boolean label="Top rated" [(value)]="course.topRated"></form-input-boolean>
    </form-group>
  </div>

  <div class="course-detail__actions">
    <div class="course-detail__action">
      <action (action)="doSave()" title="Save"></action>
    </div>
    <div class="course-detail__action">
      <action (action)="doCancel()" title="Close"></action>
    </div>
  </div>
</div>
