<div class="courses">
  <div class="courses__toolbar">
    <app-toolbar (find)="onFind($event)" (add)="onAdd($event)"></app-toolbar>
  </div>
  <div class="courses__list">
    <div class="courses__item" *ngFor="let course of courses">
      <course [course]="course" (remove)="onRemove($event)"></course>
    </div>
  </div>
  <div class="courses__paging">
    <div class="paging">
      <div class="paging__prev" (click)="firstPage()">First page</div>
      <div class="paging__prev" (click)="prevPage()">Previous page</div>
      <div class="paging__next" (click)="nextPage()">Next page</div>
      <div class="paging__next" (click)="lastPage()">Last page</div>
    </div>
  </div>
  <div *ngIf="isNoData" class="courses__no-data">No data. Fill free to add new course.</div>
  <confirm *ngIf="showDeleteConfirm"
    [message]="'Do you really want to delete this course?'"
    (ok)="doConfirmDelete()" (cancel)="doCancelDelete()"
    ></confirm>
</div>
