<div class="app-header">
  <div class="app-header__logo">
    <div class="logo" routerLink="/courses"></div>
  </div>
  <div class="app-header__title">
    Learn
  </div>
  <div  *ngIf="isLogged" class="app-header__breadcrumbs">
    <breadcrumbs></breadcrumbs>
  </div>
  <div class="app-header__user">
    <div class="user">
      <div *ngIf="!isLogged" class="user__login" routerLink="/login">Login</div>
      <div *ngIf="isLogged" class="user__info">
        {{username}}
      </div>
      <div *ngIf="isLogged" class="user__logoff" routerLink="/login">Logoff</div>
    </div>
  </div>
</div>
