<div class="login">
  <div class="login__form">
    <div *ngIf="error" class="login__error">{{error.message}}</div>
    <form-group [formGroup]="form">
      <form-input-text label="User" formControlName="name"></form-input-text>
      <form-input-password label="Password" formControlName="password"></form-input-password>
    </form-group>
  </div>
  <div class="login__actions">
    <div class="login__action">
      <action (action)="doCancel()" title="Cancel"></action>
    </div>
    <div class="login__action">
      <action (action)="doLogin()" title="Login" [disabled]="!isValid()"></action>
    </div>
  </div>
</div>
