<div class="login">
  <div class="login__form">
    <form-group>
      <form-input-text label="User" [(value)]="user.name"></form-input-text>
      <form-input-password label="Password" [(value)]="user.password"></form-input-password>
    </form-group>
  </div>
  <div class="login__actions">
    <div class="login__action">
      <action (action)="doCancel()" title="Cancel"></action>
    </div>
    <div class="login__action">
      <action (action)="doLogin()" title="Login"></action>
    </div>
  </div>
</div>
