<div class="login">
  <div class="login__form">
    <div class="form-group">
      <div class="form-group__row">
        <div class="form-group__label">User</div>
        <div class="form-group__value">
          <input type="text" class="form-value form-value--input" id="name"
                 [(ngModel)]="user.name" name="name">
        </div>
      </div>
      <div class="form-group__row">
        <div class="form-group__label">Password</div>
        <div class="form-group__value">
          <input type="password" class="form-value form-value--input-password" id="password"
                 [(ngModel)]="user.password" name="password">
        </div>
      </div>
    </div>
  </div>
  <div class="login__actions">
    <div class="login__action">
      <action (action)="doCancel()" title="Cancel"></action>
    </div>
    <div class="login__action">
      <action (action)="doLogin()" title="Login"></action>
    </div>
  </div>
</div>
