<div class="app-toolbar">
  <div class="app-toolbar__search">
    <div class="search">
      <input type="text" class="search__input" [(ngModel)]="filter">
      <div class="search__find">
        <div class="action">
          <button class="action__button" (click)="onFind()">Find</button>
        </div>
      </div>
    </div>
  </div>
  <div class="app-toolbar__add">
    <div class="action">
      <div class="action__icon action__icon--add"></div>
      <button class="action__button action__button--with-icon">Add course</button>
    </div>
  </div>
</div>