@import "../../styles/colors.scss";

.courses {
  padding-top: 10px;

  &__title {
    font-size: 2em;
    font-weight: bold;
  }

  &__list {
    margin-top: 10px;
  }

  &__item {
    margin-top: 5px;
  }
}

course {
  padding: 10px;
}
